$flex: flex;
$center : center;
$main-color: #A1A6B4;
$margin: 16px;
$padding: 20px;
$width: 100%;
$border-radius: 15px; 
$font-size-large: 2rem;
$font-size-small: 1rem;
$font:'PT Sans' , sans-serif;



body{
    background-color: $main-color;
}


.search{
    display:  $flex;
    justify-content: $center;
    margin: $margin;
    margin-top: $margin * 5;
    padding: $padding;
    
    input{
        padding: $padding;
        margin-right: $margin;
        width: $width / 4;
        border-radius: $border-radius;
       border-color: transparent;
       border-style: none;
    }
    textarea:focus, input:focus{
        outline: none;
    }

    ::placeholder{
        font-size: $font-size-small;
        font-family: $font;
    }

    button{
        font-size: $font-size-large;
        font-family: $font;
        padding: $padding * 1;
        margin-left: $margin;
        border-radius: $border-radius - 11;
        cursor: pointer;
        border-color: transparent;
        font-size: $font-size-small;
    }

    :hover{
        background-color: #EBEBEB;
    }
}


.results{
    border-radius: 15px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    display: $flex;
    justify-content: $center;
    align-items: $center;
    margin: 0 auto;
    width: $width / 2;
    height: 60vh;
}