$flex: flex;
$center : center;
$main-color: #A1A6B4;
$margin: 16px;
$padding: 20px;
$width: 100%;
$border-radius: 15px; 
$font-size-large: 2rem;
$font-size-small: 1rem;
$font:'PT Sans' , sans-serif;



.images{
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center; 
    background-image: url('/img/weather.gif');
}


.main-container{
    height: 100vh;
  }

.left{
    margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.search{
    display:  $flex;
    justify-content: center;
    margin: $margin;
    margin-top: $margin * 3;
    padding: $padding;
    
    input{
        padding: $padding;
        margin-right: $margin;
        width: $width / 2;
        border-radius: $border-radius;
       border-color: transparent;
       border-style: none;
    }
    textarea:focus, input:focus{
        outline: none;
    }

    ::placeholder{
        font-size: $font-size-small;
        font-family: $font;
    }

    button{
        font-size: $font-size-large;
        font-family: $font;
        padding: $padding * 1;
        margin-left: $margin;
        border-radius: $border-radius - 11;
        cursor: pointer;
        border-color: transparent;
        font-size: $font-size-small;
    }

    :hover{
        background-color: #EBEBEB;
    }
}


.results{
    border-radius: 15px;
    border-style: solid;
    color: white;
    border-color: transparent;
    padding-right: $padding * 5;
    padding: $padding * 1.2;
    text-align: center;
    font-family: $font;
    font-size: 3.8vh;
    width: $width / 1;
    line-height: 3.5;



  
}





