$flex: flex;
$center : center;
$main-color: #A1A6B4;
$margin: 16px;
$padding: 20px;
$width: 100%;
$border-radius: 15px; 
$font-size-large: 2rem;
$font-size-small: 1rem;
$font:'PT Sans' , sans-serif;



body{
    background-color: $main-color;
    
    background-image: url("/img/rain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main-container{
    height: 100vh;
  }

.left{
    background-color: $main-color;
}

.search{
    display:  $flex;
    justify-content: left;
    margin: $margin;
    margin-top: $margin * 5;
    padding: $padding;
    
    input{
        padding: $padding;
        margin-right: $margin;
        width: $width / 4;
        border-radius: $border-radius;
       border-color: transparent;
       border-style: none;
    }
    textarea:focus, input:focus{
        outline: none;
    }

    ::placeholder{
        font-size: $font-size-small;
        font-family: $font;
    }

    button{
        font-size: $font-size-large;
        font-family: $font;
        padding: $padding * 1;
        margin-left: $margin;
        border-radius: $border-radius - 11;
        cursor: pointer;
        border-color: transparent;
        font-size: $font-size-small;
    }

    :hover{
        background-color: #EBEBEB;
    }
}


.results{
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
 

    text-align: left;
    margin: 0 auto;
    padding: $padding * 2;
    font-family: $font;
    font-size: $font-size-large * 1.3;
    width: $width / 1;
    line-height: 3.5;



  
}